@import url(../../assets/fonts/BookingPlattform/stylesheet.css);
table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 2px solid #27e200
}

table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center
}

table td,
table th {
    border-left: 2px solid #27e200;
    border-width: 0 0 0 2px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em
}

table th {
    font-family: 'HUGEAvantGardeBold', Helvetica, Arial, sans-serif;
    font-weight: normal;
    border-bottom: 2px solid #27e200
}

table td:first-child,
table th:first-child {
    border-left-width: 0
}

table thead {
    background: #27e200;
    color: #0a1c3b;
    text-align: left;
    vertical-align: bottom
}

table tr:nth-child(2n-1) td {
    background-color: #eeece8
}

table td {
    border-bottom: 2px solid #27e200
}

#tables table {
    width: 90%
}