@import url(../../assets/fonts/BookingPlattform/stylesheet.css);
.font-franz-sans {
    font-family: 'FranzSans', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

.font-brandon {
    font-family: 'Brandon', Helvetica, Roboto, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

.italic {
    font-style: italic
}

h1 {
    font-size: 64px;
    line-height: 64px;
    font-weight: bold
}

h2 {
    font-size: 44px;
    line-height: 44px;
    font-weight: bold
}

h3 {
    font-size: 38px;
    line-height: 45px;
    font-weight: bold
}

h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px
}

h5 {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px
}

.p1 {
    font-size: 30px;
    line-height: 36px
}

body {
    font-family: 'Brandon', Helvetica, Roboto, Arial, sans-serif
}

#typography h1,
#typography h2,
#typography h3,
#typography h4,
#typography h5,
#typography h6,
#typography p {
    margin-top: 0
}

#typography p {
    font: 15px/20px "Brandon";
    margin: 2em 0;
    color: #0a1c3b
}